%h1 Create a new tournament

= simple_form_for(@tournament) do |f|
  = f.input :name
  = f.input :date, as: :string, input_html: {type: :date}

  = f.simple_fields_for :divisions do |d|
    = d.input :name, as: :hidden
    = d.input :use, as: :boolean, label: ' ' + d.object.name

  = f.button :submit

